SHELL=/bin/bash
HOME=/home/jbrubake
PATH=/home/jbrubake/sbin:/home/jbrubake/bin:/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/sbin:/usr/local/bin
MAILTO=jbrubake

# For details see man 4 crontabs

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * command to be executed

0 * * * *    nice run-parts "$HOME/etc/cron.hourly"
*/5 * * * *  chronic cloudsync
#*/15 * * * *   chronic checkmail


