[Unit]
Description=Get new mail and flush mail queue
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/home/jbrubake/sbin/checkmail
