[Unit]
Description=Sync cloud storage providers
Wants=network-online.target

[Service]
ExecStart=/opt/rust/bin/watchexec --workdir %h/.sync/%i --postpone --debounce 5s %h/bin/cloudsync sync %i

[Install]
WantedBy=default.target
