[Unit]
Description=Run cloudsync service periodically
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnBootSec= 5min
OnUnitActiveSec= 15min
Unit=cloudsync.service

[Install]
WantedBy=default.target
